<h1>Login</h1>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<%= form_tag :action => :create do %>

  <%= label_tag :username, 'Username: ' %><br>
  <%= text_field_tag :username, @user.username %><br>

  <%= label_tag :password, 'Password: ' %><br>
  <%= password_field_tag :password %><br>

  <%= submit_tag 'Login' %>

<% end %>