<!DOCTYPE html>
<html>
<head>
  <title>LearnAuth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- logout btn -->

<% if user_signed_in? %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_session_path %>
<% end %>

<%= yield %>

</body>
</html>
